<a href="https://colab.research.google.com/github/sabhas808922/AIML/blob/main/03_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Earlier when discussing strings we introduced the concept of a <u>sequence</u> in Python.
* <u>Lists</u> can be thought of the most general version of a *sequence* in Python.


* Unlike strings, they are mutable, meaning the elements inside a list can be changed!


* Lists are constructed with brackets <code>[]</code> and commas separating every element in the list.

In [ ]:
a = [1,2,3,4.2,'hello',True]
type(a)

list

In [ ]:
print(a)

[1, 2, 3, 4.2, 'hello', True]

In [ ]:
print(a[0])

1

In [ ]:
print(a[3])

4.2

In [ ]:
print(a[4])

hello

In [ ]:
a = [1,2,3,[1,2,3,'hello'],'rahul']
print(a[3])

[1, 2, 3, 'hello']

In [ ]:
print(a[3][3])

hello

In [ ]:
print(a[3][3][1])

e

## List Slicing

* We can use a <code>:</code> to perform *slicing* which grabs everything up to a designated point.


* The starting index is specified on the left of the <code>:</code> and the ending index is specified on the right of the <code>:</code>.


* Remember the element located at the right index is not included.

![image.png]()

In [ ]:
a = [1,2,3,4,5,6,7]
print(a[2:5])

[3, 4, 5]

In [ ]:
print(a[2:5:2])

## List Operations
* Remember we said that lists are mutable as opposed to strings. Lets see how can we change the elements of a list

* We can also use <code>+</code> to concatenate lists, just like we did for strings.

In [ ]:
a = [1,2,3,4,5]
b = [4,5,6,7]
print(a+b)

[1, 2, 3, 4, 5, 4, 5, 6, 7]

In [ ]:
print(a)

[1, 2, 3, 4, 5]

In [ ]:
print(b)

[4, 5, 6, 7]

In [ ]:
a = [1,2,3,4,5]
b = [4,5,6,7]
c = a+b
print(c)

[1, 2, 3, 4, 5, 4, 5, 6, 7]

In [ ]:
print(c)

[1, 2, 3, 4, 5, 4, 5, 6, 7]

## List Methods

* If you are familiar with another programming language, you might start to draw parallels between arrays in another language and lists in Python. Lists in Python however, tend to be more flexible than arrays in other languages for a two good reasons: they have no fixed size (meaning we don't have to specify how big a list will be), and they have no fixed type constraint (like we've seen above).


* Let's go ahead and explore some more special methods for lists:

### <code>append()</code>

* Use the <code>append()</code> method to permanently add an item to the end of a list.


* <code>append()</code> method takes the element which you want to add to the list as an argument

In [ ]:
a = [1,2,3,4,5]
a.append('rahul')

In [ ]:
print(a)

[1, 2, 3, 4, 5, 'rahul']

In [ ]:
a = [1,2,3,4,5]
b = [3,4,5,7]
a.append(b)

In [ ]:
print(a)

[1, 2, 3, 4, 5, [3, 4, 5, 7]]

### <code>extend()</code>

* Use the <code> extend()</code> method to merge a list to an existing list


* <code> extend()</code> method takes a list or any iterable(don't worry about it now) as an argument.


* Quite helpful when you have two or more lists and you want to merge them together

In [ ]:
a = [1,2,3,4,5]
b = [3,4,5,7]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 3, 4, 5, 7]

### <code>len()</code>


* <code>len()</code> function returns the length of the list

In [ ]:
a = [1, 2, 3, 4, 5, 3, 4, 5, 7]
print(len(a))

9

### <code>min()</code>


* <code>min()</code> function returns the minimum element of the list


* <code>min()</code> function only works with lists of similar data types

In [ ]:
a = [1,2,3,4,100,99]
print(min(a))

1

In [ ]:
a = [1,2,3,4,100,99,'a','b','z']
print(min(a))

TypeError: '<' not supported between instances of 'str' and 'int'

### <code>max()</code>


* <code>max()</code> function returns the maximum element of the list


* <code>max()</code> function only works with lists of similar data types

In [ ]:
a = ['a','b','z']
print(max(a))

z

### <code>sum()</code>


* <code>sum()</code> function returns the sum of the elements of the list


* <code>sum()</code> function only works with lists of numeric data types

In [ ]:
a = [1,2,3,4]
print(sum(a))

10

### <code>sorted()</code>


* <code>sorted()</code> function returns the sorted list


* <code>sorted()</code> function takes reverse boolean as an argument


* <code>sorted()</code> function only works on a list with similar data types

In [ ]:
a = a = [1,2,3,4,100,99]
print(sorted(a))

[1, 2, 3, 4, 99, 100]

In [ ]:
print(a)

[1, 2, 3, 4, 100, 99]

In [ ]:
print(sorted(a,reverse = True))

[100, 99, 4, 3, 2, 1]

### <code>pop()</code>

* Use <code>pop()</code> to "pop off" an item from the list.


* By default <code>pop()</code> takes off the element at the last index, but you can also specify which index to pop off.


* <code>pop()</code> takes the index as an argument and returns the elenent which was popped off.

In [ ]:
a = [1,2,3,4,5,'rahul','mohan']
a.pop(6)

'mohan'

In [ ]:
print(a)

[1, 2, 3, 4, 5, 'rahul']

### <code>remove()</code>

* Use <code>remove()</code> to remove an item/element from the list.


* By default <code>remove()</code> removes the specified element from the list.


* <code>remove()</code> takes the element as an argument.

In [ ]:
a = [1,2,3,4,5,'rahul','mohan']
a.remove('mohan')

In [ ]:
print(a)

[1, 2, 3, 4, 5, 'rahul']

### <code>count()</code>


* The <code>count()</code> method returns the total occurrence of a specified element in the list

In [ ]:
a = [1,2,3,1]
print(a.count(1))

2

### <code>sort()</code>

* Use <code>sort()</code> to sort the list in either ascending/descending order


* The sorting is done in ascending order by default


* <code>sort()</code> method takes the reverse boolean as an argument


* <code>sort()</code> method only works on a list with elements of same data type

### <code>reverse()</code>

* <code>reverse()</code> method reverses the list

In [ ]:
a = [1,2,0,100]
a.reverse()
print(a)

[100, 0, 2, 1]

In [ ]:
a = [1,2,0,100]
a[::-1]

[100, 0, 2, 1]

In [ ]:
a

[1, 2, 0, 100]