<a href="https://colab.research.google.com/github/sabhas808922/AIML/blob/main/04_Tuples_Sets_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuples

* In Python tuples are very similar to lists, however, unlike lists they are *immutable* meaning they can not be changed.


* You would use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar.


* You'll have an intuition of how to use tuples based on what you've learned about lists. We can treat them very similarly with the <u>major distinction being that tuples are immutable</u>.


## Constructing Tuples

* The construction of a tuples use <code>()</code> with elements separated by commas.

In [ ]:
a = (1,2,3,4,5,6)
type(a)

tuple

In [ ]:
print(a)

(1, 2, 3, 4, 5, 6)

## Tuple Indexing

* Indexing work just like in lists.


* A tuple index refers to the location of an element in a tuple.


* Remember the indexing begins from 0 in Python.


* The first element is assigned an index 0, the second element is assigned an index of 1 and so on and so forth.

In [ ]:
a = (1,2,3,4,5,6)
print(a[0])

1

## Tuple Slicing

* We can use a <code>:</code> to perform *slicing* which grabs everything up to a designated point.


* The starting index is specified on the left of the <code>:</code> and the ending index is specified on the right of the <code>:</code>.


* Remember the element located at the right index is not included.

In [ ]:
a = (1,2,3,4,5,6)
print(a[0:])

(1, 2, 3, 4, 5, 6)

## Immutability

* It can't be stressed enough that tuples are immutable.

In [ ]:
a = [1,2,3,4]
a[0] = 100
print(a)

[100, 2, 3, 4]

In [ ]:
a = (1,2,3,4)
a[0] = 100
print(a)

TypeError: 'tuple' object does not support item assignment

* Tuple does not support methods such as <code>append()</code>, <code>extend()</code>, <code>remove()</code>, <code>pop()</code>

### <code>zip()</code>


* <code>zip()</code> function takes multiple lists as arguments and zips them together


* This function returns a list of n-paired tuples where n is the number of lists being zipped

In [ ]:
a = ['rahul','mohan']
b = ['singh','kumar']
print(list(zip(a,b)))

[('rahul', 'singh'), ('mohan', 'kumar')]

In [ ]:
a = ['rahul','mohan','sohan']
b = ['singh','kumar','k']
print(list(zip(a,b)))

[('rahul', 'singh'), ('mohan', 'kumar'), ('sohan', 'k')]

## When to use Tuples

* You may be wondering, "Why bother using tuples when they have fewer available methods?" To be honest, tuples are not used as often as lists in programming, but are used when immutability is necessary. If in your program you are passing around an object and need to make sure it does not get changed, then a tuple becomes your solution. It provides a convenient source of data integrity.


* You will find them often in functions when you are returning some values


* You should now be able to create and use tuples in your programming as well as have an understanding of their immutability.

# Sets

* Sets are an unordered collection of *unique* elements. We can construct them by using the <code>set()</code> function.


* Sets cannot have duplicates.


* Sets are mutable just like lists.


* You can create a non-empty set with curly braces by specifying elements separated by a comma.

In [ ]:
a = {1,2,3,4,1}
type(a)

set

In [ ]:
print(a)

{1, 2, 3, 4}

In [ ]:
print(a[0])

TypeError: 'set' object is not subscriptable

### <code>add()</code>


*  <code>add()</code> method adds an element to a set


* This method takes the element to be added as an argument

In [ ]:
a = {1,2,3,4}
a.add('rahul')
print(a)

{1, 2, 3, 4, 'rahul'}

### <code>update()</code>

* <code>update()</code> method helps to add multiple elements to a set

In [ ]:
a = {1,2,3,4}
b = {4,5,6,7}
a.update(b)
print(a)

{1, 2, 3, 4, 5, 6, 7}

### <code>remove()</code>

* Use <code>remove()</code> to remove an item/element from the set.


* By default <code>remove()</code> removes the specified element from the set.


* <code>remove()</code> takes the element as an argument.

In [ ]:
a = {1,2,3,4}
a.remove(3)
print(a)

{1, 2, 4}

In [ ]:
a = {1,2,3,'rahul','Rahul'}
print(a)

{1, 2, 3, 'Rahul', 'rahul'}

### <code>union()</code>


* <code>union()</code> method returns the union of two sets


* Also denoted by the operator <code>|</code>

In [ ]:
a = {1, 2, 3, 4, 5}
b = {4, 5, 6, 7, 8}
print(a.union(b))

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
a|b

{1, 2, 3, 4, 5, 6, 7, 8}

### <code>intersection()</code>


* <code>intersection()</code> method returns the intersection of two sets


* Also denoted by the operator <code>&</code>

In [ ]:
a = {1, 2, 3, 4, 5}
b = {4, 5, 6, 7, 8}
print(a&b)

{4, 5}

### <code>difference()</code>


* <code>difference()</code> method returns the difference of two sets


* Difference of the set <code>B</code> from set <code>A</code> i.e, <code>(A - B)</code> is a set of elements that are only in <code>A</code> but not in <code>B</code>


* Also denoted by the operator <code>-</code>

In [ ]:
a = {1, 2, 3, 4, 5}
b = {4, 5, 6, 7, 8}
print(a-b)

{1, 2, 3}

### <code>symmetric_difference()</code>


* <code>symmetric_difference()</code> method returns the set of elements in A and B but not in both (excluding the intersection)


* Also denoted by the operator <code>^</code>

In [ ]:
a = {1, 2, 3, 4, 5}
b = {4, 5, 6, 7, 8}
a^b

{1, 2, 3, 6, 7, 8}

# Dictionaries

* We've been learning about *sequences* in Python but now we're going to switch gears and learn about *mappings* in Python.


* If you're familiar with other languages you can think of these Dictionaries as hash tables.


* So what are mappings? Mappings are a collection of objects that are stored by a *key*, unlike a sequence that stored objects by their relative position. This is an important distinction, since mappings won't retain order since they have objects defined by a key.


* A Python dictionary consists of a key and then an associated value. That value can be almost any Python object. So a dictionary object always has elements as key-value pairs


## Constructing a Dictionary


* A dictionary object is constructed using curly braces <code>{key1:value1,key2:value2,key3:value3}</code>

In [ ]:
a = {'name':'mohan','gender':'male'}
type(a)

dict

In [ ]:
print(a.keys())

dict_keys(['name', 'gender'])

In [ ]:
print(a.values())

dict_values(['mohan', 'male'])

In [ ]:
a = {'name':['mohan','sita'],'gender':['male','female']}
print(a.keys())

dict_keys(['name', 'gender'])

In [ ]:
print(a.values())

dict_values([['mohan', 'sita'], ['male', 'female']])

In [ ]:
a = {'name':'mohan','gender':'male'}
print(a['name'])

mohan

In [ ]:
print(a['gender'])

male

### <code>items()</code>


* <code>items()</code> method returns the list of the keys and values

In [ ]:
print(a)

{'name': 'mohan', 'gender': 'male'}

In [ ]:
print(a.items())

dict_items([('name', 'mohan'), ('gender', 'male')])

In [ ]:
print(a)

{'name': 'mohan', 'gender': 'male'}

In [ ]:
a['name'] = 'rahul'
print(a)

{'name': 'rahul', 'gender': 'male'}

In [ ]:
a['Name'] = 'rahul'
print(a)

{'name': 'rahul', 'gender': 'male', 'Name': 'rahul'}

In [ ]:
b = {'city':'delhi','age':20,'name':'shyam'}
a.update(b)

In [ ]:
print(a)

{'name': 'shyam', 'gender': 'male', 'Name': 'rahul', 'city': 'delhi', 'age': 20}

### <code>dict()</code>


* We can also create dictionary objects from sequence of items which are pairs. This is done using the <code>dict()</code>method


*  <code>dict()</code> function takes the list of paired elements as argument

In [ ]:
country_list = ['India','Australia','United States','England']
city_list = ['New Delhi', 'Canberra' , 'Washington DC','London']
print(dict(zip(country_list,city_list)))

{'India': 'New Delhi', 'Australia': 'Canberra', 'United States': 'Washington DC', 'England': 'London'}

### <code>pop()</code>


* <code>pop()</code> method removes and returns an element from a dictionary having the given key.

* This method takes two arguments/parameters (i) key - key which is to be searched for removal, (ii) default - value which is to be returned when the key is not in the dictionary

In [ ]:
a = {'name':'mohan','gender':'male'}
print(a.pop('name'))

mohan

In [ ]:
print(a)

{'gender': 'male'}